.header {
  padding: 60px;
  color: white;
  text-align: center;
  background-image: url(../images/header.jpg);
  font-size: 30px;
  padding: 5%;
  font-family: "Bebas Neue", cursive;
}
.header div p {
  font-size: xx-large;
  justify-content: right;
  text-align: left;
  font-family: "Bebas Neue", cursive;
}

body {
  background: hsl(57deg, 100%, 48%);
  background: linear-gradient(90deg, rgb(184, 193, 194) 0%, rgb(148, 185, 209) 100%);
  background: -moz-linear-gradient(90deg, rgb(184, 193, 194) 0%, rgb(148, 185, 209) 100%);
  background: -webkit-linear-gradient(90deg, rgb(184, 193, 194) 0%, rgb(148, 185, 209) 100%);
}

.xyz-in:hover, .Titulo_principal:hover, .boton:hover {
  color: black;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(5, 2, 54) 0%, rgb(9, 121, 114) 36%, rgb(0, 212, 255) 100%);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 2%;
}
nav ul li {
  list-style-type: none;
  display: inline;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: xx-large;
  margin-right: 20px;
  padding-top: 6%;
  padding-bottom: 6%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 4%;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", cursive;
}

.row {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: row;
  padding: 5%;
}
.row article {
  padding: 2%;
}

@media screen and (max-width: 480px) {
  .fotoMobile {
    max-width: 300px;
    max-height: 300px;
    justify-content: center;
    display: flex;
  }
  .Navbar ul li a {
    font-size: 10px !important;
    display: flex;
    flex-direction: row;
    padding: 0%;
    font-family: "Bebas Neue", cursive;
  }
  .Navbar ul {
    display: flex;
  }
  .Navbar ul li {
    margin-right: 5px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    margin-left: 5px;
  }
  main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    justify-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5%;
  }
  .pie {
    display: flex;
    background-color: rgb(197, 166, 226);
    flex-direction: column;
    padding-left: 10 px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .pie section {
    padding-left: 10 px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .header {
    padding: 60px;
    font-size: 30px;
    padding: 5%;
  }
  .header h1 {
    font-size: 25px;
  }
  .header p {
    font-size: 20px;
  }
  .Titulo_principal {
    font-size: medium;
  }
}
.Titulo_principal {
  color: rgb(20, 4, 4);
  border-style: solid;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  font-size: xx-large;
  background-color: whitesmoke;
  padding-top: 3%;
  padding-bottom: 3%;
  background: rgb(176, 174, 238);
  background: radial-gradient(circle, rgb(176, 174, 238) 0%, rgb(29, 30, 31) 100%);
}
.Titulo_principalhover {
  color: black;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(5, 2, 54) 0%, rgb(9, 121, 114) 36%, rgb(0, 212, 255) 100%);
}

/*# sourceMappingURL=style.css.map */
