body {

    background: hsla(57, 100%, 48%, 1);

    background: linear-gradient(90deg, rgb(184, 193, 194) 0%, rgb(148, 185, 209) 100%);
    
    background: -moz-linear-gradient(90deg,   rgb(184, 193, 194) 0%, rgb(148, 185, 209) 100%);
    
    
    background: -webkit-linear-gradient(90deg,  rgb(184, 193, 194) 0%, rgb(148, 185, 209) 100%);
    
    
    
    

}

.xyz-in:hover, .Titulo_principal:hover, .boton:hover {
    color: black;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(5, 2, 54) 0%, rgba(9,121,114,1) 36%, rgba(0,212,255,1) 100%);
}

nav{
    ul{
        list-style-type: none;
        margin: 0;
        padding: 2%;

        li{
            list-style-type: none;
        display: inline;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: xx-large;
        margin-right: 20px;
        padding-top: 6%;
        padding-bottom: 6%;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 4%;

            a{
                text-decoration: none;
                color: black;
                font-family: 'Bebas Neue', cursive;
            }
        }
    }
}


main {
    display: flex;
    justify-content: space-around    ;
    flex-direction: row;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5%;
    article{
        padding: 2%;
    }
}

.Titulo_principal{
        &hover {
            color: black;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(5, 2, 54) 0%, rgba(9,121,114,1) 36%, rgba(0,212,255,1) 100%);
        }

    
        color: rgb(20, 4, 4);
    border-style: solid;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: xx-large;
    background-color: whitesmoke;
    padding-top: 3%;
    padding-bottom: 3%;

    background: rgb(176,174,238);
    background: radial-gradient(circle, rgba(176,174,238,1) 0%, rgba(29,30,31,1) 100%);
    

}


header{

    padding: 60px;
    text-align: center;
    background-image: url(../images/header.jpg);
    color: white;
    font-size: 30px;
    padding: 5%;
    font-family: 'Bebas Neue', cursive;
    div {
        p{
            font-size: xx-large;
            justify-content: right;
            text-align: left;
            font-family: 'Bebas Neue', cursive;
        }
    }

    
}